$sideBarWidth: 12rem; // In Desktop
$sideBarHeight: 6rem; // In Mobile
$titleHeight: 5rem;

#root {
    height: 100vh;
    width: 100vw;
}

// DASHBOARD CONTAINERS 
.dashboard-container {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.dashboard-content {
    transition: all 0.5s ease;
}

.graph-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90%;
}

.title {
    height: $titleHeight;
}

.title-text {
    margin-bottom: 0;
}

.noformat {
    background-color: transparent;
    border: none;
}
// SIDEBAR CLASSES
.navbar-toggle-icon {
    height: 2rem;
    width: 2rem;
}

.navbar {
    margin-top: $titleHeight;
}

.devices-bar {
    margin-top: $titleHeight + 1rem;
}

.menu {
    background-color: #F9F9F9;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.1);
}

.devices {
    right:0;
    background-color: #F9F9F9;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.1);
}

.sidebar {
    position: absolute;
    z-index: 100;
    height: $sideBarHeight;
    overflow: hidden;
    transition: all 0.5s ease,
                opacity 0.25s ease;
}

.hidden {
    height: 0!important;
    opacity: 0;
}

button {
    height: 3rem;
}

.sidebar-toggle {
    z-index: 200;
}

div {
    // border: 1px solid red;
}



/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1024px) {
    .dashboard-container {
        height: 100%;
        flex-direction: row;
    }

    .sidebar {
        width: $sideBarWidth;
        height: 100%;
        overflow: hidden;
        transition: all 0.5s ease,
                    opacity 0.25s ease;
    }

    .hidden {
        width: 0!important;
        opacity: 0;
        height: 100%!important;
    }
    
}