{% extends "_base.html" %}
{% load static %}

{% block title %}
Welcome
{% endblock title %}

{% block body %}
<div class="container d-flex flex-column">
    <a href="{% url 'dashboard:info' 'hi' %}">Go to hi dashboard</a>
    <br>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    <div id="root"/>
</div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'accounts/js/TestApp-bundle.js' %}"></script>
{% endblock scripts %}